[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=vladimir
Group=vladimir

WorkingDirectory=/home/vladimir/ref_bot_vk/
Environment="PYTHONPATH=/home/vladimir/ref_bot_vk/"
ExecStart=/home/vladimir/ref_bot_vk/.venv/bin/python /home/vladimir/ref_bot_vk/main.py

[Install]
WantedBy=multi-user.target
